 <section class="footer">
            <div class="footer_btns">
                <button class="btn">Privacy Policy</button>
                <button class="btn">Use of Cookies</button>
                <button class="btn">Terms of use</button>
                <button class="btn">Legal</button>
                <button class="btn">Site map</button>
            </div>
</section>