<div class="nav">
        <a href="#" class="logo">Seoul</a>
        <div class="menus">
            <a href="/food" class="menu">FOOD</a>
            <a href="./place/place.html" class="menu">PLACE</a>
            <a href="./board/board.html" class="menu">BOARD</a>
        </div>
        <div class="icons">
            <button class="search"><i class="fas fa-search"></i></button>
            <button class="facebook"><i class="fab fa-facebook"></i></button>
            <button class="instagram"><i class="fab fa-instagram"></i></button>
        </div>
</div>