
<body>
    
    <div class="board_banner">
        <img src="/img/img+video/board_seoul.jpg" alt="banner" class="board_img">
        <span class="introduction_top">Welcome to community board</span>
        <span class="introduction_bottom">Let's share our experiences or great tips for Seoul travelers</span>
    </div>
    <div class="board">
        <div class="board_left">
            <div class="left_title">
                <span class="title">Recommendations</span>
            </div>
            <div class="contents">
                  <form id="boardForm">
                    <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" >
                    </div>
                     <div class="mb-3">
                    <label for="writer" class="form-label">Writer</label>
                    <input type="text" class="form-control" id="writer" name="writer" >
                    </div>
                    <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" id="content" rows="3" name="content"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" id="commentSubmit">Submit</button>
                    </div>
                  </form>
                <section class="commentSection">
                </section>
            </div>
        </div>
        <div class="board_right">
            <span class="right_title">What's on trend</span>
            <div class="keywords">
                <div>
                    <span>CORONA VIRUS</span>
                    <span>BTS</span>
                    <span>BLACK PINK</span>
                </div>
                <div>
                    <span>SEOUL</span>
                    <span>SUWON</span>
                    <span>SPICY RICE CAKE</span>
                </div>
                <div>
                    <span>BIBIMBAP</span>
                    <span>KAKAO</span>
                </div>
               
            </div>
        </div>
    </div>


</body>

<script type="text/javascript" async>
   function makeComment(commentArr){
       $(".commentSection").html('');
       commentArr.forEach(comment=>{
           $(".commentSection").append(
               `
                 <div class="card" id="comment" >
                            <div class="card-header" id="cardHeader">
                                <div>
                                    <h5>${comment.title}</h5>
                                    <span id="commentText" class="cardWriter">${comment.writer}</span>
                                </div>
                                <div id="commentDateBtn">
                                    <p id="commentText">${comment.date}</p>
                                    <button id="commentDeleteBtn" data-comment-id=${comment._id} ><i class="fas fa-trash-alt" ></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                
                                <span class="card-text">${comment.content}</span>
                            </div>
                 </div>
               `
           )
       })
   }
   
   $(function(){

         $.ajax("/board/getComment")
           .done(function(data,status,jqXHR){
                  makeComment(data);
        })

        $(document).on('click','#commentDeleteBtn',function(e)
        {
            e.preventDefault();
            let id=$(this).data("comment-id");
             $.ajax(`/board/deleteComment/${id}`, { method: "DELETE" })
                    .done(function(data,status,jqXHR){
                        makeComment(data);
                    });
            
        })

       $("#commentSubmit").on('click',function(e)
       {
           e.preventDefault();

           let title=$("input[name=title]").val();
           let writer=$("input[name=writer]").val();
           let content=$("textarea[name=content]").val();
           let date=new Date().toLocaleDateString();
           
         

           $.ajax({
               method:"POST",
               url:"/board/addComment",
               data:{
                   title:title,
                   writer:writer,
                   content:content,
                   date:date,
               },
               dataType:"JSON",
           }).done(function(data,status,jqXHR){
                  makeComment(data);
                  $("input[name=title]").val("");
                  $("input[name=writer]").val("");
                  $("textarea[name=content]").val("");
            
           })

         

           
       })
   })
</script>
