
<body>
    
    <section class="video">
        <video src="/img/img+video/[2019 Seoul City TVC] Full series version by BTS.mp4" loop autoplay muted></video>
    </section>
    
    <section class="contents">
        <div class="contents_up">
            <div class="index_content">
                <span class="mini_title">
                    Food
                </span>
                <img src="/img/img+video/korean_menu.jpg" alt="food">
                <span class="title">
                    Where to eat 
                </span>
                <span class="introduction">
                    Search for recommended dining spots throughout Seoul
                </span>
            </div>
            <div class="index_content">
                <span class="mini_title">
                    Tourist spots
                </span>
                <img src="/img/img+video/travel.jpg" alt="palce">
                <span class="title">
                    Where to go
                </span>
                <span class="introduction">
                    Explore the beauty of Seoul
                </span>
            </div>
        </div>
        <div class="contents_down">
            <div class="index_content">
                <span class="mini_title">
                    Culture
                </span>
                <img src="/img/img+video/_111394223_gettyimages-1097683454.jpg" alt="culture">
                <span class="title">
                    Be ARMY 
                </span>
                <span class="introduction">
                    Let me introduce K-pop sensation boy group 'BTS'
                </span>
            </div>
            <div class="index_content">
                <span class="mini_title">
                    Covid-19
                </span>
                <img src="/img/img+video/covid.jpg" alt="covid">
                <span class="title">
                    COVID-19 Precautions
                </span>
                <span class="introduction">
                    Get information about Coronavirus disease precautions
                </span>
            </div>
        </div>
        
    </section>
</body>
