.board_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.board_img {
  height: 300px;
  margin-bottom: 30px;
  width: 50%;
  margin-right: 100px;
}

.introduction_top {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}

.introduction_bottom {
  font-weight: bold;
  font-size: 20px;
}

.board {
  margin: 50px 0px;
  display: flex;
}

.board_left {
  width: 50%;
  margin-left: 50px;
}

.left_title {
  display: flex;
  justify-content: space-between;
}

.left_title span,
.right_title {
  font-weight: bold;
  font-size: 20px;
}

.contents {
  margin-top: 20px;
}

.title {
  font-weight: bold;
  padding-bottom: 10px;
}

.board_right {
  width: 30%;
  margin-left: 20px;
}

.keywords {
  margin-top: 50px;
  padding: 15px;
}

.keywords span {
  background-color: #595757;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  transition: transform 300ms ease-in;
  cursor: pointer;
}

.keywords span:hover {
  transform: scale(1.1);
}

.keywords div {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.keyword {
  margin-top: 20px;
}

.keyword span {
  font-size: 13px;
  color: #0e2bcf;
}

.tags {
  margin-top: 20px;
}

.window_content {
  width: 200px;
  height: 200px;
}

.window_btn {
  margin-top: 10px;
  padding: 5px;
  background-color: white;
  border: 1px solid grey;
  outline: none;
  color: #707273;
  cursor: pointer;
  font-weight: bold;
}

.window_btn:hover {
  color: #393a3b;
}

.noContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 100px;
  border-radius: 20px;
  background-color: rgba(89, 89, 87, 0.4);
}
.noContent {
  margin-top: 20px;
}
.noContentMessage {
  font-weight: bold;
}

#boardForm {
  margin-left: 50px;
}
