.board_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.board_img {
  height: 300px;
  margin-bottom: 30px;
  width: 50%;
  margin-right: 100px;
}

.introduction_top {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}

.introduction_bottom {
  font-weight: bold;
  font-size: 20px;
}

.board {
  margin: 50px 0px;
  display: flex;
}

.board_left {
  margin-left: 50px;
  width: 60%;
}

.left_title {
  display: flex;
  justify-content: space-between;
}

.left_title span,
.right_title {
  font-weight: bold;
  font-size: 20px;
}

.contents {
  margin-top: 20px;
}

.title {
  font-weight: bold;
  padding-bottom: 10px;
}

.keywords {
  margin-top: 50px;
  padding: 15px;
}

.keywords span {
  display: inline-block;
  margin-right: 10px;
  background-color: #595757;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  transition: transform 300ms ease-in;
  cursor: pointer;
}

.keywords span:hover {
  transform: scale(1.1);
}

.keywords div {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.keyword {
  margin-top: 20px;
}

.keyword span {
  font-size: 13px;
  color: #0e2bcf;
}

.tags {
  margin-top: 20px;
}

#boardForm,
.commentSection {
  margin-left: 50px;
}

#comment {
  margin-bottom: 20px;
}

#cardHeader {
  display: flex;
  justify-content: space-between;
}

#commentText {
  color: #595757;
  font-size: 13px;
  margin: 0;
}

#commentDateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#commentDeleteBtn {
  border: none;
  background-color: transparent;
  margin-left: 10px;
}
#commentDateBtn i {
  font-size: 18px;
}
