.food_banner {
  height: 300px;
  display: flex;
}

img {
  width: 40%;
  height: 100%;
  margin-left: 10%;
}
.banner_tag {
  color: #6b93e3;
  font-weight: bold;
  font-size: 60px;
  margin-left: 5%;
  margin-top: 10%;
}

.food_content {
  width: 100%;
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.food_content_left {
  margin-right: 150px;
}

.locations .btn {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.locations .title {
  font-size: 25px;
}

.btns {
  margin-left: 30px;
}

.locations .displayAll {
  color: #97accf;
}

.locations .displayAll:hover {
  text-decoration: underline #97accf;
}

.locations .title:hover {
  text-decoration: underline transparent;
}

.locations button:hover {
  text-decoration: underline black;
}

.restaurant {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #d7d8db;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
}

.restaurant img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.res_name {
  font-weight: bold;
}

.res_phone,
.res_hrs,
.res_description,
.res_add {
  font-size: 13px;
}

.dollar {
  font-size: 13px;
  color: #cfab1f;
  font-weight: bold;
}

.res_info {
  display: flex;
  margin-left: 10px;
  width: 500px;
}

.resBtn {
  font-size: 13px;
  border: none;
  padding: 10px;
  width: 130px;
  height: 25px;
  background-color: #6e8096;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 15px;
  cursor: pointer;
  text-decoration: none;
}

.resBtn:hover {
  background-color: #f0c016;
}
